<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>SWAPI Consumer - {% block title %}{% endblock %}</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="static/images/favicon.ico"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.5.1.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"
    ></script>
    <script type="text/javascript" src="static/js/index.js"></script>
    <link rel="stylesheet" href="static/css/normalize.css" />
    <link rel="stylesheet" href="static/css/main.css" />
    {% endblock %}
  </head>
  <body>
    <header class="header">
      <navbar class="menu">
        <div class="container-page">
          <ul class="menu">
            <li>
              <a href="/" class="home">Home</a>
            </li>
            <li><a href="/people">People </a></li>
            <li><a href="/starships">Starships</a></li>
          </ul>
        </div>
      </navbar>
      <div class="page-title">
        <div class="container-page">
          {% block page_title %} {% endblock %}
        </div>
      </div>
    </header>
    <main>
      <div class="container-page">
        {% block content %}{% endblock %}
      </div>
    </main>
    <footer></footer>
  </body>
</html>
