{% extends "base.html" %} {% block title %}Home{% endblock %} {% block
page_title %}SWAPI{% endblock %} {% block content %}
<div class="main">
  <div class="container-page">
    Consuming the <a href="https://swapi.dev/">Swapi</a> without using specific
    helpers libraries. <br />
    Authored by:
    <a href="https://github.com/rafaelalgsantos"> Rafaela Guimarães</a> <br />
    Source code:
    <a href="https://github.com/rafaelalgsantos/consuming-swapi-with-flask">
      Consuming Swapi With Flask Repo</a
    >
  </div>
</div>
{% endblock %}
