{% extends "base.html" %} {% block title %}People{% endblock %} {% block
page_title %} People {% endblock %} {% block content %}
<form method="POST" action="">
  <div class="filter-form">
    <div class="filter-form__item">
      {{ filter_form.vehicle.label }} {{ filter_form.vehicle }}
    </div>

    <div class="filter-form__item">
      {{ filter_form.starship.label }} {{ filter_form.starship }}
    </div>

    <div class="filter-form__item">
      {{ filter_form.planet.label }} {{ filter_form.planet }}
    </div>

    <div class="filter-form__item">
      {{ filter_form.film.label }} {{ filter_form.film }}
    </div>
    <div class="filter-form__item">
      {{filter_form.filter}}
    </div>
  </div>
</form>
<div class="table-responsive">
  <table id="people-data-table" class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Birth year</th>
        <th>Eye color</th>
        <th>Hair Color</th>
        <th>Gender</th>
        <th>Height</th>
        <th>Mass</th>
        <th>Skin Color</th>
      </tr>
    </thead>
    <tbody>
      {% for person in people %}
      <tr>
        <td>{{ person.name}}</td>
        <td>{{ person.birth_year}}</td>
        <td>{{ person.eye_color}}</td>
        <td>{{ person.hair_color}}</td>
        <td>{{ person.gender}}</td>
        <td>{{ person.height}}</td>
        <td>{{ person.mass}}</td>
        <td>{{ person.skin_color}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{{ pagination.links }} {% endblock %}
