{% extends "base.html" %} {% block title %}Starships{% endblock %} {% block
page_title %} Starships {% endblock %} {% block content %}
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Score</th>
        <th>Name</th>
        <th>Model</th>
        <th>Startship Class</th>
        <th>Cargo capacity</th>
        <th>Crew</th>
        <th>Lenght</th>
      </tr>
    </thead>
    <tbody>
      {% for starship in starships %}
      <tr>
        <td>{{ starship.score}}</td>
        <td>{{ starship.name}}</td>
        <td>{{ starship.model}}</td>
        <td>{{ starship.starship_class}}</td>
        <td>{{ starship.cargo_capacity}}</td>
        <td>{{ starship.crew}}</td>
        <td>{{ starship.length}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{{ pagination.links }} {% endblock %}
