{% extends "base.html" %} 
{% block title %}Starships{% endblock %} 
{% block page_title %}
Starships
{% endblock %} {% block content %}
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
          <th>Score</th>
        <th>Name</th>
        <th>Model</th>
        <th>Startship Class</th>
        <th>Cargo capacity</th>
        <th>Crew</th>
        <th>Lenght</th>
      </tr>
    </thead>
    <tbody>
      {% for starship in starships %}
      <tr>
        <td>{{ starship.score.0}}</td>
        <td>{{ starship.name.0}}</td>
        <td>{{ starship.model.0}}</td>
        <td>{{ starship.starship_class.0}}</td>
        <td>{{ starship.cargo_capacity.0}}</td>
        <td>{{ starship.crew.0}}</td>
        <td>{{ starship.length.0}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{{ pagination.links }} {% endblock %}
